@font-face {
	font-family: 'corpide1sscd_regular';
	src:url('../fonts/corbid/corbid-regular/corpide1sscd_regular.eot?#iefix') format('embedded-opentype'), 
	  	url('../fonts/corbid/corbid-regular/corpide1sscd_regular.otf')  format('opentype'),
		url('../fonts/corbid/corbid-regular/corpide1sscd_regular.woff') format('woff'),
		url('../fonts/corbid/corbid-regular/corpide1sscd_regular.ttf')  format('truetype'),
		url('../fonts/corbid/corbid-regular/corpide1sscd_regular.svg#corpide1sscd-regular') format('svg');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'corpide1sscd_light';
	src:url('../fonts/corbid/corbid-light/corpide1sscd_light.eot?#iefix') format('embedded-opentype'), 
	  	url('../fonts/corbid/corbid-light/corpide1sscd_light.otf')  format('opentype'),
		url('../fonts/corbid/corbid-light/corpide1sscd_light.woff') format('woff'),
		url('../fonts/corbid/corbid-light/corpide1sscd_light.ttf')  format('truetype'),
		url('../fonts/corbid/corbid-light/corpide1sscd_light.svg#corpide1sscd-light') format('svg');
	font-weight: normal;
	font-style: normal;
}


@font-face {
	font-family: 'corpide1sscd_bold';
	src:url('../fonts/corbid/corbid-bold/corpide1sscd_bold.eot?#iefix') format('embedded-opentype'), 
	  	url('../fonts/corbid/corbid-bold/corpide1sscd_bold.otf')  format('opentype'),
		url('../fonts/corbid/corbid-bold/corpide1sscd_bold.woff') format('woff'),
		url('../fonts/corbid/corbid-bold/corpide1sscd_bold.ttf')  format('truetype'),
		url('../fonts/corbid/corbid-bold/corpide1sscd_bold.svg#corpide1sscd-bold') format('svg');
	font-weight: normal;
	font-style: normal;
}

@font-face {
    font-family: 'latoregular';
    src: url('../fonts/lato/lato-regular/lato-regular.eot');
    src: url('../fonts/lato/lato-regular/lato-regular.eot?#iefix') format('embedded-opentype'),
         url('../fonts/lato/lato-regular/lato-regular.woff2') format('woff2'),
         url('../fonts/lato/lato-regular/lato-regular.woff') format('woff'),
         url('../fonts/lato/lato-regular/lato-regular.ttf') format('truetype'),
         url('../fonts/lato/lato-regular/lato-regular.svg#latoregular') format('svg');
    font-weight: normal;
    font-style: normal;

}



// Core variables and mixins

@import "components/vars";

@import "bootstrap/normalize";
@import "bootstrap/grid";

@import "components/body";



@import "components/workarea";

@import "components/header";

ymaps[class$="-copyright"] {
	display: none;
}

.layout{
	  flex: 1 0 auto;
	  background: url(../img/content/page-bg.png) center bottom/cover no-repeat;
}

.layout--index{
	background: #fff;
	.page-content{
		padding: 0;
		>.container-fluid{
			max-width: 100%;
		}
	}
	.page-header{
		background: transparent;
		box-shadow:none;
		&.fixed{
			background: #fff;
			box-shadow: 0px 5px 100px rgba(0, 0, 0, 0.1);
		}
	}
}

.layout--cloud{
	background: transparent; 
	.page-content{
		padding-top: 97px;
		padding-bottom: 0;
		>.container-fluid{
			max-width: 100%;
		}
	}
	.breadcrumbs {
	    padding-top: 18px;
	}
}

.layout--contacts{
	background: #fff;
}

// .layout--cloud{
// 	background: #fff;
// 	.page-content{
// 		>.container-fluid{
// 			max-width: 100%;
// 		}
// 	}
	
// }


.layout--calculator{
	// background: #E5E5E5;
	background: #fff;
}

body.fixed {
    overflow: hidden;
}
.scrollbar-measure {
	width: 100px;
	height: 100px;
	overflow: scroll;
	position: absolute;
	top: -9999px;
}

.container-fluid{
	max-width: 1200px;
	// padding: 0;
	position: relative;
	width: 100%;
	padding: 0;
}

.page-content{
	padding: 114px 0 40px;
}

.btn{
	background: #E01021;
	color: #fff;
	display: inline-block;
	vertical-align: middle;
	    padding: 14px 25px;
	border-radius: 5px;
	transition:all 0.3s ease;
	font-family: 'corpide1sscd_light';
	border: 0;
	&:hover{
		background: #cc061a;
    	color: #fff;
	}
}


.main-slider{
	display: none;
	&.slick-initialized{
		display: block;
	}
	.slick-track{
		display:flex;
		min-width: 100%;
	}
}

.main-slider__left{
	position: absolute;
	width: 50px;
	height: 50px;
	background: #fff;
	border-radius: 50%;
	text-indent: -9999em;
	display: inline-block;
	padding: 0;
	border: 0;
	right: 54px;
	border: 1px solid #ACACAC;
	&:before{
		content: '';
		display: inline-block;
		width: 14px;
		height: 24px;
		background: url(../img/svg/left.svg) center no-repeat;
		position: absolute;
		left: 50%;
		margin-left: -9px;
		top: 50%;
		margin-top: -12px;
	}
}


.main-slider__right{
	position: absolute;
	width: 50px;
	height: 50px;
	background: #fff;
	border-radius: 50%;
	text-indent: -9999em;
	display: inline-block;
	padding: 0;
	border: 0;
	right: -5px;
	border: 1px solid #ACACAC;
	&:before{
		content: '';
		display: inline-block;
		width: 14px;
		height: 24px;
		background: url(../img/svg/right.svg) center no-repeat;
		position: absolute;
		left: 50%;
		margin-left: -6px;
		top: 50%;
		margin-top: -12px;
	}
}

.main-slider__item{
    min-height: 685px;
    height: auto !important;
    padding-bottom: 20px;
    padding-top: 94px;
    position: relative;
}

.main-slider__bg{
	background-size: cover;
	background-position: 0px 0px;
	background-repeat: repeat-x;
	position: absolute;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	animation: slide 11500s infinite linear;
}

@-webkit-keyframes slide {
	100%{
	    background-position:120000px 0px;
	}
}
@-moz-keyframes slide {
    100%{
	    background-position:120000px 0px;
	}
}

@-ms-keyframes slide {
    100%{
	    background-position:120000px 0px;
	}
}

.main-slider__info{
	max-width: 550px;
	padding-top: 80px;
	h1{
		margin-bottom: 11px;
		color: $alt-color;
		line-height: 1;
	}
}

.main-slider__add{
	color: $alt-color;
	font-size: 24px;
	margin-bottom: 28px;
}

.main-slider-wrap{
	position: relative;
}
.main-slider-arrows{
	position: absolute;
	bottom: 100px;
	left: 50%;
	width: 100%;
	max-width: 1190px;
	transform: translateX(-50%);
}



.main-slider__txt{
	margin-bottom: 50px;
}

.main-slider__img{
	position: absolute;
    right: 68px;
    top: 49px;
	width: 50%;
	pointer-events: none;
	height: 480px;
	    display: flex;
    align-items: center;
    justify-content: center;
	img{
		max-width: 100%;
		max-height: 100%;
		display: block;
	}
}

.slick-dots{
	position: absolute;
	/* right: 100px; */
	bottom: 25px;
	max-width: 1290px;
	width: 100%;
	left: 0;
	transform: none!important;
	text-align: center;
	margin: 0!important;
	li{
		display: inline-block;
		vertical-align: middle;
		padding: 0;
		border: 0;
		width: 15px;
		height: 15px;
		border-radius: 50%;
		background: #e6e6e6;
		transition:all 0.3s ease;
		margin-bottom: 0!important;
		margin-right: 15px;
		padding-left: 0!important;
		cursor: pointer;
		border: 1px solid #e30613;
		&:last-child{
			margin-right: 0;
		}
		&.slick-active,
		&:hover{
			background: #e30613;
		}
		&:before{
			display: none!important;
		}
		button{
			display: none;
		}
	}
}


.t-center{
	text-align: center;
}




.benefits{
	background: #F7F7F7;
	padding: 34px 0 17px;
	position: relative;
	.item{
		width: 25%;
	}
	h2{
		margin-bottom: 52px;
	}
}

.list{
	display: flex;
	flex-wrap:wrap;
}
.item{
	text-align: center;
	margin-bottom: 45px;
	padding: 0 20px;
}

.item__icon{
	width: 104px;
	height: 104px;
	border-radius: 50%;
	background: #fff;
	border: 1px solid #959595;
	display: inline-block;
	margin-bottom: 16px;
	display: inline-flex;
	align-items:center;
	justify-content:center;
	img{
		display: block;
		max-width: 100%;
	}
}

.item__icon--filter{
	img{
		filter:grayscale(100%);
	}
}

.item__txt{
	line-height: 1.3;
}

.services{
	padding: 35px 0;
	box-shadow: 0px 5px 100px rgba(0, 0, 0, 0.1);
	h2{
		margin-bottom: 53px;
	}
	.item{
		width: 33.333%;
		margin-bottom: 70px;
	}
}

.clients{
	padding: 36px 0;
	h2{
		margin-bottom: 33px;
	}
}

.clients__slider{
	display: none;
	padding: 0 100px;
	&.slick-initialized{
		display: block;
	}
	.slick-arrow{
		position: absolute;
		width: 50px;
		height: 50px;
		background: transparent;
		border-radius: 50%;
		text-indent: -9999em;
		display: inline-block;
		padding: 0;
		border: 1px solid #ACACAC;
		top: 50%;
		transform:translateY(-50%);
		z-index: 2;
	}
	.slick-next{
		right: 0;
		&:before {
			content: '';
			display: inline-block;
			width: 14px;
			height: 24px;
			background: url(../img/svg/right.svg) center no-repeat;
			position: absolute;
			left: 50%;
			margin-left: -6px;
			top: 50%;
			margin-top: -12px;
		}
	}
	.slick-prev{
		left: 0;
		&:before {
			content: '';
			display: inline-block;
			width: 14px;
			height: 24px;
			background: url(../img/svg/left.svg) center no-repeat;
			position: absolute;
			left: 50%;
			margin-left: -9px;
			top: 50%;
			margin-top: -12px;
		}
	}
}

.clients__item{
	display: flex;
	padding: 0 10px;
	align-items:center;
	justify-content: center;
	img{
		display: block;
		max-width: 100%;
	}
}
.clients__icon{
	display: flex;
	align-items:center;
	justify-content: center;
}




.page-title{
	h1{
		color: $alt-color;
		margin-bottom: 7px;
	}
}

.breadcrumbs{
	margin-bottom: 23px;
}
.breadcrumbs__wrap{
	display: flex;
	flex-wrap:wrap;
}

.breadcrumbs__item{	
	margin-bottom: 15px;
	font-size: 14px;
	color: #000;
}
a.breadcrumbs__item{
	color: #959595;
	&:after {
		content: '';
		display: inline-block;
		vertical-align: middle;
		margin: 0 17px 0 15px;
		width: 8px;
		height: 12px;
		background: url(../img/svg/arrow-gr.svg) center no-repeat;
		margin-top: -2px;
	}
	&:hover{
		color: $alt-color;
	}
}


.partners{
	position: relative;
}
.partners__img{
    position: absolute;
    top: 24px;
    right: -20px;
    width: 50%;
    text-align: center;
	img{
		display: inline-block;
		max-width: 100%;
	}
}
.partners__info,
.partners .page-title{
	max-width: 480px;
}


.popup{
	width: 900px;
	line-height: 1.5;
	.btn{
		padding: 11px 25px;
	}
	.checkbox-item{
		margin-bottom: 27px;
		position: relative;
		z-index: 1;
		padding-top: 6px;
	}
	input[type="checkbox"]:not(:checked) + label,
	input[type="checkbox"]:checked + label{
		padding-top: 2px;
	}
	textarea{
		height: 200px;
    	min-height: 200px;
	}
}
.dnone{
	display: none;
}

.inputs-wrap{
	display: flex;
	margin: 0 -10px;
}

.inputs-half{
	width: 50%;
	padding: 0 10px;
}

.fancybox-container {
    z-index: 14;
}
.fancybox-is-open .fancybox-bg {
    opacity: .8;
}
.fancybox-bg {
	background: #0B0B0B;
}
.fancybox-content {
	padding: 24px 33px 32px 33px;
}
.popup__top{
	margin: 0;
	margin-bottom: 40px;
	font-weight: normal;
	font-size: 40px;
	font-family: 'corpide1sscd_regular';
	color: #000;
	padding-left: 17px;
}

.input-wrap{
	margin-bottom: 16px;
	position: relative;
}
.input-wrap--necessary{
	.input-label{
		&:after{
			content: "*";
			display: inline-block;
			color: #E01021;
			margin-left: 5px;
			padding-right: 4px;
			font-size: 16px;
		}
	}
}
.input-wrap--error{
	input[type="text"],
	input[type="email"],
	input[type="password"],
	input[type="email"],
	input[type="text"],
	input[type="email"],
	input[type="password"],
	input[type="email"],
	textarea,
	.jq-selectbox__select{
		border: 1px solid $alt-color;
	}
}

.error-msg{
	right: 15px;
    bottom: -4px;
	background: #fff;
    padding: 0 3px;
    position: absolute;
	line-height: 1;
	z-index: 2;
	color: $alt-color;
	font-size: 14px;
}

.input-label{
	background: #fff;
    padding: 0 3px;
    position: absolute;
    left: 14px;
    top: -7px;
	line-height: 1;
	z-index: 2;
	font-size: 18px;
	transition: all 0.1s linear;
}
.jq-selectbox{
	width: 100%;
	display: block;
	position: relative;
	select{
		opacity: 0;
		visibility: hidden;
		position: absolute;
		height: 100%;
		width: 100%;
	}
	&.opened{
		z-index: 3!important;
		.jq-selectbox__trigger-arrow{
			transform: translateY(-50%) rotate(-180deg);
		}
		.jq-selectbox__select{
			border: 1px solid #BDBDBD!important;
		}
		&+.input-label{
			font-size: 14px;
			top: -9px;
		}
	}
}


.jq-selectbox__select{
	width: 100%;
	display: inline-block;
	vertical-align: middle;
	color: #000;
	border: 1px solid #EDEDED;
	border-bottom-color: #EDEDED;
	border-radius: 3px;
	height: 56px;
	line-height: 56px;
	padding: 0 30px 0 12px;
	transition: border-color 0.3s ease-in-out;
	font: inherit;
	color: inherit;
	background: #fff!important;
	text-shadow:none;
	position: relative;
}
.jq-selectbox__select-text{
	height: 100%;
	line-height: 56px;
	color: #000;
	width: 100%!important;
}

.jq-selectbox__select:active{
	background: #fff;
}
.jq-selectbox.focused .jq-selectbox__select {
	border: 1px solid #EDEDED;
}


.jq-selectbox__dropdown ul::-webkit-scrollbar {
	width: 8px;
}



.jq-selectbox__dropdown ul::-webkit-scrollbar-thumb {
	border-radius: 5px;
	background: rgba(0,0,0,0.3);
}


.jq-selectbox__trigger {
	border-left: 0;	
}

.jq-selectbox__trigger-arrow{
	border: 0;
	width: 15px;
	height: 9px;
	background: url(../img/svg/s-arrow-r.svg) center no-repeat;
	transition:all 0.3s ease;
	top: 50%;
	transform: translateY(-50%);
}


.jq-selectbox__dropdown {
	margin: 0;
	border: 1px solid #EDEDED;
	border-radius: 5px;
	font: inherit;
	position: absolute;
	top: 100%!important;
	box-shadow: 0 0 10px rgba(0,0,0,0.1);
		
	ul{
		margin: 0;
		max-height: 308px;
		overflow-y: auto;
		li{
			padding-left: 12px;
			margin-bottom: 0;
			color: #333;
			background: #fff;
			transition:all 0.3s ease;
			border-bottom: 1px solid #EDEDED;
			white-space: normal;
			&:before{
				display: none;
			}
			&:hover{
				background: #f5f5f5;
				color: #333;
			}
		}
	}
}

.jq-selectbox li.selected{
	background: #f5f5f5;
	color: #333;
}

.jq-selectbox.opened + .input-label{
    z-index: 4 !important;
}



.contacts-wrap{
	display: flex;
	margin-bottom: 32px;
	padding-top: 20px;
}

.contacts-question{
	width: 378px;
	min-width: 378px;
	line-height: 1.1;
	padding-top: 10px;
	h2{
		margin-bottom: 29px;
	}
}
.contacts__list{
	display: flex;
	flex-grow: 1;
	padding-top: 7px;
	margin-right: -100px;
}

.contacts__item{
	padding-right: 100px;
	line-height: 1.1;
}

.contacts__icon{
	border: 1px solid #959595;
	border-radius: 50%;
	margin-bottom: 27px;
	width: 69px;
	height: 69px;
	display: flex;
	align-items: center;
	justify-content: center;
	img{
		display: block;
	}
}

.contacts__title{
	margin-bottom: 7px;
}

.contacts__link{
	display: block;
	margin-bottom: 22px;
}

a.contacts__link{
	color: #000;
	&:hover{
		color: $alt-color;
	}
}
.contacts__link--full{
	display:flex;
	justify-content: space-between;
}

.contacts-circle{
	display: flex;
	margin-bottom: 10px;
}

.contacts-circle__item{
	border: 1px solid #959595;
	width: 10px;
	height: 10px;
	margin-right: 4px;
	border-radius: 50%;
	&:last-child{
		margin-right: 0;
	}
	&.active{
		border: 1px solid #E01021;
		background: #E01021;
	}
}

.contacts-question__item{
	margin-bottom: 19px;
	&+.btn{
		margin-top: 7px;
	}
}
.contacts-question__top{
	color: #5C5C5C;
	margin-bottom: 3px;
}


.contacts-map__wrap{
	width: 479px;
	min-width: 479px;
	height: 240px;
	position: relative;
}
.contacts-map{
	display: flex;
}
#contacts-map{
	position: absolute;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
}

.contacts-map__address{
	display: flex;
	flex-grow:1;
	position: relative;
    padding: 15px 102px 0 354px;
}
[class*="ymaps-2"][class*="-ground-pane"] {
    filter: url("data:image/svg+xml;utf8,<svg xmlns=\'http://www.w3.org/2000/svg\'><filter id=\'grayscale\'><feColorMatrix type=\'matrix\' values=\'0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0 0 0 1 0\'/></filter></svg>#grayscale");
    /* Firefox 3.5+ */
    -webkit-filter: grayscale(100%);
    /* Chrome 19+ & Safari 6+ */
}



.contacts-map__img{
    position: absolute;
    left: -97px;
	top: -73px;
	img{
		max-width: 100%;
		display: block;
	}
}
.contacts-map__item{
	margin-bottom: 19px;
	position: relative;
}

.contacts-map__item--address{
	&:before{
		content:"";
		display: inline-block;
		width: 28px;
		height: 36px;
		background: url(../img/svg/address.svg) no-repeat;
		position: absolute;
		top: -11px;
		left: -45px;
	}
}

.contacts-map__item--mail{
	&:before{
		content:"";
		display: inline-block;
		width: 32px;
		height: 24px;
		background: url(../img/svg/mail.svg) no-repeat;
		position: absolute;
		top: 10px;
    	left: -47px;
	}
}

.contacts-map__item--link{
	color: #000;
	&:hover{
		color: $alt-color;
	}
}

.cloud{
	background: url(../img/content/page-bg.png) center bottom/cover no-repeat;
    padding-bottom: 32px;
}

.cloud-bottom{
	background: #F7F7F7;
	padding-bottom:40px;
}

.cloud__add{
	font-size: 32px;
	color: #000;
	max-width: 859px;
	margin-bottom: 32px;
	&+p{
		max-width: 859px;
	}
}

.cloud-benefits{
	display: flex;
	margin-bottom: 40px;
	margin-top: 47px;
}

.cloud-benefits__item{
	width: 50%;
	margin-right: 32px;
	background: #fff;
	padding: 11px 32px 15px;
	&:last-child{
		margin-right: 0;
	}
	h2{
		margin-bottom: 11px;
	}
}
.cloud__list{
	margin-bottom: 40px;
	display: flex;
}
.cloud__item{
	width: 33.333%;
	background: #fff;
	margin-right: 2px;
	padding: 25px 33px 12px;
	margin-top: -31px;
	&:last-child{
		margin-right: 0;
	}
	ul{
		li{
			margin-bottom: 16px;
			&:last-child{
				margin-bottom: 0;
			}
		}
	}
}


.cloud__img{
	height: 122px;
	display: flex;
	align-items: flex-end;
	margin-bottom: 28px;
    padding-left: 33px;
	img{
		display: block;
		max-width: 100%;
		max-height: 100%;
	}
}

.cloud__title{
	color:#E01021;
	margin-bottom: 10px;
	font-size: 32px;
	font-family: 'corpide1sscd_regular';
	padding-left: 33px;
}

.cloud-question__item{
	background: #fff;
	padding: 36px 103px 31px 103px;
	margin-bottom: 2px;
	&:last-child{
		margin-bottom: 0;
	}
	a{
		color: #000;
		&:hover{
			color: $alt-color;
		}
	}
}

.cloud-question__top{
	color:#E01021;
	margin-bottom: 9px;
	font-size: 32px;
	font-family: 'corpide1sscd_regular';
	position: relative;
	&:before{
		content: "";
		display: inline-block;
		width: 40px;
		height: 40px;
		background: url(../img/svg/info.svg) no-repeat;
		position: absolute;
		left: -61px;
		top: 4px;
	}
}



.tabs-horizontal {
	border-bottom: 1px solid #f2f2f2;
	display: flex;
	align-items: center;
	justify-content: center; }
  
  .tabs-horizontal + .tab_container .tab_content {
	padding-top: 48px;
	padding-bottom: 40px; }
  
  .workarea .tabs-horizontal {
	margin-bottom: 0;
	padding-top: 7px; }
	.workarea .tabs-horizontal .tabs-horizontal__item {
	  margin: 0;
	  margin-right: 75px;
	  padding: 0;
	  border-bottom: 3px solid transparent; }
	  .workarea .tabs-horizontal .tabs-horizontal__item:last-child {
		margin-right: 0; }
	  .workarea .tabs-horizontal .tabs-horizontal__item:before {
		display: none; }
	  .workarea .tabs-horizontal .tabs-horizontal__item.active {
		border-bottom: 3px solid #e5001f; }
		.workarea .tabs-horizontal .tabs-horizontal__item.active .tabs-horizontal__link {
		  color: #e5001f; }
  
  .tabs-horizontal__link {
	display: block;
	font-size: 24px;
	padding: 10px 0;
	color: #5C5C5C; }
  
  .tariff__item {
	display: inline-block;
	vertical-align: top;
	margin-right: -4px;
	width: 33.333%; }
  
  .tariff__img {
	padding: 0 20px;
	text-align: center;
	height: 125px;
	line-height: 125px;
	vertical-align: middle;
	margin-bottom: 29px; }
	.tariff__img img {
	  display: inline-block;
	  vertical-align: middle;
	  max-width: 100%;
	  max-height: 100%; }
  
  .tariff__add {
	color: #808080;
	font-size: 14px;
	text-align: center;
	margin-bottom: 75px;
	padding: 0 20px; }
  
  .tariff__title {
	padding: 26px 10px;
	border-top: 1px solid #ededed;
	border-bottom: 1px solid #ededed;
	margin-bottom: 45px;
	text-align: center;
	font-family: 'corpide1sscd_bold'; }
  
  .tab_content {
	display: none;
	padding-top: 21px;
	padding-bottom: 30px; }

	.slider-nav {
		padding-top: 30px;
		display: flex;
		justify-content: center; }
		.slider-nav .slick-dots {
		  margin: 0;
		  overflow: hidden;
		  -webkit-box-ordinal-group: 3;
		  -webkit-order: 2;
			  -ms-flex-order: 2;
				  order: 2; }
		  .slider-nav .slick-dots li {
			display: inline-block;
			vertical-align: middle;
			padding: 0;
			border: 0;
			width: 10px;
			height: 10px;
					border-radius: 50%;
			background: #e6e6e6;
			transition: all 0.3s ease;
			margin: 0;
			margin-right: 15px;
			cursor: pointer; }
			.slider-nav .slick-dots li:last-child {
			  margin-right: 0; }
			.slider-nav .slick-dots li.slick-active, .slider-nav .slick-dots li:hover {
			  background: #e30613; }
			.slider-nav .slick-dots li:before {
			  display: none; }
			.slider-nav .slick-dots li button {
			  display: none; }
		.slider-nav .slick-arrow {
		  width: 14px;
		  height: 24px;
		  border: 0;
		  padding: 0;
		  display: inline-block;
		  text-indent: -9999em;
		  margin-top: 1px; }
		  .slider-nav .slick-arrow.slick-disabled {
			opacity: 0.3;
			pointer-events: none; }
		.slider-nav .slick-next {
		  background: url(../img/svg/nav-next.svg) center no-repeat;
		  -webkit-box-ordinal-group: 4;
		  -webkit-order: 3;
			  -ms-flex-order: 3;
				  order: 3;
		  margin-left: 25px; }
		.slider-nav .slick-prev {
		  background: url(../img/svg/nav-prev.svg) center no-repeat;
		  -webkit-box-ordinal-group: 1;
		  -webkit-order: 0;
			  -ms-flex-order: 0;
				  order: 0;
		  margin-right: 25px; }
	  
	  .select-wrap-horizontal {
		display: none;
		position: relative; }
	  
	  .tabs-vert + .select-wrap-horizontal {
		margin-bottom: 30px; }
	  
	  .tabs-horizontal + .select-wrap-horizontal {
		margin-top: 30px; }
	  
	  .tab_content-vert {
		display: none; }
	  
	  ul.tabs-vert {
		width: 325px;
		float: left;
		margin: 0;
		margin-right: 20px; }
		ul.tabs-vert li {
		  padding-left: 0;
		  margin: 0; }
		  ul.tabs-vert li:before {
			display: none; }
		  ul.tabs-vert li:last-child .tabs-vertical__link {
			border-bottom: 0; }
		  ul.tabs-vert li.active .tabs-vertical__link {
			color: #ec1d23; }
			ul.tabs-vert li.active .tabs-vertical__link:after {
			  content: '';
			  display: inline-block;
			  width: 13px;
			  height: 24px;
			  position: absolute;
			  right: 20px;
			  top: 50%;
			  margin-top: -12px;
			  background: url(../img/svg/right.svg) center no-repeat;
			  background-size: cover; }
	  
	  .tab_container_vert {
		margin-left: 350px; }
	  
	  .tabs-vertical__link {
		display: block;
		color: #666666;
		border-bottom: 1px solid #ededed;
		padding: 16px 0;
		font-size: 24px;
		position: relative; }
		.tabs-vertical__link:hover {
		  color: #ec1d23; }
	  
	  .tab_content-wrapper:after {
		content: "";
		display: table;
		clear: both; }
	  
	  .platform-view {
		padding: 22px 0 25px 50px;
				//box-shadow: 0px 0px 15px 0px rgba(0, 0, 0, 0.15);
		overflow: hidden;
		display: flex;
		margin-bottom: 20px; }
	  
	  .platform-view__result {
		width: 360px;
		padding-left: 22px;
		padding-right: 15px; }
		.platform-view__result .btn.btn--sm {
		  padding: 7px 32px; }
	  
	  .platform-view__count {
		color: #000;
		margin-bottom: 20px; }
	  
		.platform-view__sum{
			font-size: 52px;
		  line-height: 42px;
		  font-family: 'corpide1sscd_regular';
		}

	  .platform-view__content {
				flex-grow: 1;
		border-right: 1px solid #f2f2f2;
		padding-right: 55px; }
	  
	  .platform-view__item {
		margin-bottom: 77px; }
		.platform-view__item:last-child {
		  margin-bottom: 0; }
	  
	  .platform-view__title {
		margin-bottom: 7px;
		color: #000;
		font-size: 20px;
		line-height: 1;
		position: relative; }
		.platform-view__title:before {
		  content: "";
		  width: 21px;
		  height: 14px;
		  position: absolute;
		  left: -30px;
		  top: 3px;
		  background: url(../img/svg/double-arrow.svg) center no-repeat; }
	  
	  .slider-range {
		z-index: 0; }
	  
	  .conditional {
		color: #1481b4;
		display: inline-block;
		padding-left: 30px;
		position: relative; }
		.conditional:before {
		  content: "";
		  display: inline-block;
		  width: 20px;
		  height: 26px;
		  background: url(../img/svg/cond.svg) center no-repeat;
		  position: absolute;
		  left: 0;
		  top: 50%;
		  margin-top: -13px; }
		.conditional span {
		  color: #666666; }
	  
	  .ui-widget.ui-widget-content {
		border: 0;
		background: #e5e5e5;
				border-radius: 5px; }
	  
	  .ui-slider-horizontal {
		height: 8px; }
	  
	  .ui-button.ui-state-active:hover,
	  .ui-button:active,
	  .ui-state-active,
	  .ui-widget-content .ui-state-active,
	  .ui-widget-header .ui-state-active,
	  a.ui-button:active {
		border: 0;
		background: #ec1d23;
		font-weight: 400;
		color: #fff;
		width: 38px;
		height: 38px;
				border-radius: 50%; }
	  
	  .ui-slider-horizontal .ui-slider-handle {
		top: -17px;
		margin-left: -19px;
		background: #ec1d23 url(../img/svg/handle.svg) center no-repeat;
		width: 38px;
		height: 38px;
				border-radius: 50%;
		cursor: pointer;
		border: 0;
		outline: 0; }
	  
	  .ui-slider-pips .ui-slider-pip {
		color: #000;
		font-size: inherit; }
	  
	  .ui-slider-horizontal.ui-slider-pips {
		margin-bottom: 35px;
		margin-top: 32px; }
	  
	  .ui-slider-line {
			display: block;
		    position: relative;
		    font-size: 7px;
		    border: 0;
		    margin-top: -8px;
		    margin-left: -1px;
			height: 7px;
		}
		.bigboss .ui-slider-line{
			height: 11px;
			width: 2px;
			margin-top: -10px;
		}

		.ui-slider-pips [class*=ui-slider-pip-selected] .ui-slider-line{
			background: #ec1d23;
		}
		.ui-slider-pips [class*=ui-slider-pip-selected] {
		    font-weight: inherit;
		    color: #ec1d23 !important;
		}
	  
	  .ui-slider-pips [class*=ui-slider-pip-selected] {
		font-weight: inherit;
		color: #ec1d23 !important; }
	  
	  .ui-slider-pips:not(.ui-slider-disabled) .ui-slider-pip:hover .ui-slider-label {
		font-weight: inherit;
		color: #ec1d23; }
	  
	  .ui-slider-pips [class*=ui-slider-pip-initial] {
		font-weight: inherit;
		color: inherit; }
	  
	  .ui-slider-range {
		background: #ec1d23; }
	  
	  .ui-slider-pips .ui-slider-pip {
		top: 27px; }
.platform-view__add{
	color: #adb0b3;
	font-size: 14px;
}

.tariff{
	max-width: 480px;
}
.tariff__descr{
	margin-bottom: 23px;
}
.tariff__icon{
	    margin-bottom: 30px;
    width: 85px;
	img{
		display: block;
		max-width: 100%;
	}
}


.usage{
	display: flex;
	flex-wrap:wrap;
	padding-top: 20px;
}
.usage__item{
	width: 25%;
	text-align: center;
}

.usage__icon{
	margin-bottom: 20px;
	img{
		display: inline-block;
		max-width: 100%;
	}
}

.usage__txt{
	color: #808080;
	font-size: 16px;
}


.descr-list{
	display: flex;
	flex-wrap:wrap;
	padding-top: 20px;
}
.descr-item{
	width: 33.333%;
	text-align: center;
}

.descr-icon{
	margin-bottom: 20px;
	height: 92px;
	display: flex;
	align-items:center;
	justify-content:center;
	img{
		display: inline-block;
		max-width: 100%;
		max-height: 100%;
	}
}

.descr-txt{
	color: #808080;
	font-size: 16px;
}

.descr-benefits{
	padding-top: 30px;
}

@import "components/footer";

@import "components/media";





