@font-face {
	font-family: 'corpide1sscd_regular';
	src:url('../fonts/corbid/corbid-regular/corpide1sscd_regular.eot?#iefix') format('embedded-opentype'), 
	  	url('../fonts/corbid/corbid-regular/corpide1sscd_regular.otf')  format('opentype'),
		url('../fonts/corbid/corbid-regular/corpide1sscd_regular.woff') format('woff'),
		url('../fonts/corbid/corbid-regular/corpide1sscd_regular.ttf')  format('truetype'),
		url('../fonts/corbid/corbid-regular/corpide1sscd_regular.svg#corpide1sscd-regular') format('svg');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'corpide1sscd_light';
	src:url('../fonts/corbid/corbid-light/corpide1sscd_light.eot?#iefix') format('embedded-opentype'), 
	  	url('../fonts/corbid/corbid-light/corpide1sscd_light.otf')  format('opentype'),
		url('../fonts/corbid/corbid-light/corpide1sscd_light.woff') format('woff'),
		url('../fonts/corbid/corbid-light/corpide1sscd_light.ttf')  format('truetype'),
		url('../fonts/corbid/corbid-light/corpide1sscd_light.svg#corpide1sscd-light') format('svg');
	font-weight: normal;
	font-style: normal;
}


@font-face {
	font-family: 'corpide1sscd_bold';
	src:url('../fonts/corbid/corbid-bold/corpide1sscd_bold.eot?#iefix') format('embedded-opentype'), 
	  	url('../fonts/corbid/corbid-bold/corpide1sscd_bold.otf')  format('opentype'),
		url('../fonts/corbid/corbid-bold/corpide1sscd_bold.woff') format('woff'),
		url('../fonts/corbid/corbid-bold/corpide1sscd_bold.ttf')  format('truetype'),
		url('../fonts/corbid/corbid-bold/corpide1sscd_bold.svg#corpide1sscd-bold') format('svg');
	font-weight: normal;
	font-style: normal;
}

@font-face {
    font-family: 'latoregular';
    src: url('../fonts/lato/lato-regular/lato-regular.eot');
    src: url('../fonts/lato/lato-regular/lato-regular.eot?#iefix') format('embedded-opentype'),
         url('../fonts/lato/lato-regular/lato-regular.woff2') format('woff2'),
         url('../fonts/lato/lato-regular/lato-regular.woff') format('woff'),
         url('../fonts/lato/lato-regular/lato-regular.ttf') format('truetype'),
         url('../fonts/lato/lato-regular/lato-regular.svg#latoregular') format('svg');
    font-weight: normal;
    font-style: normal;

}



// Core variables and mixins

@import "components/vars";

@import "bootstrap/normalize";
@import "bootstrap/grid";

@import "components/body";



@import "components/workarea";

@import "components/header";


.layout{
	// display: table;
	// table-layout: fixed;
 //  	height: 100%;
 //  	width: 100%;
  	flex: 1 0 auto;
}

.layout--index{
	.page-content{
		>.container-fluid{
			max-width: 100%;
		}
	}
}

body.fixed {
    overflow: hidden;
}
.scrollbar-measure {
	width: 100px;
	height: 100px;
	overflow: scroll;
	position: absolute;
	top: -9999px;
}

.container-fluid{
	max-width: 1200px;
	// padding: 0;
	position: relative;
	width: 100%;
	padding: 0;
}


.btn{
	background: #E01021;
	color: #fff;
	display: inline-block;
	vertical-align: middle;
	    padding: 14px 25px;
	border-radius: 5px;
	transition:all 0.3s ease;
	font-family: 'corpide1sscd_light';
	&:hover{
		background: #cc061a;
    	color: #fff;
	}
}


.main-slider{
	display: none;
	&.slick-initialized{
		display: block;
	}
	.slick-track{
		display:flex;
		min-width: 100%;
	}
	// .slick-dots{
	// 	position: absolute;
	//     /* right: 100px; */
	//     bottom: 39px;
	//     max-width: 1290px;
	//     width: 100%;
	//     left: 50%;
	//     transform: translateX(-50%);
	//     text-align: right;
	//     padding-right: 117px;
	//     margin: 0;
	//     li{
	//     	display: inline-block;
	//     	vertical-align: middle;
	//     	padding: 0;
	//     	border: 0;
	//     	width: 10px;
	//     	height: 10px;
	//     	border-radius: 50%;
	//     	background: #e6e6e6;
	//     	transition:all 0.3s ease;
	//     	margin: 0;
	//     	margin-right: 15px;
	//     	cursor: pointer;
	//     	&:last-child{
	//     		margin-right: 0;
	//     	}
	//     	&.slick-active,
	//     	&:hover{
	//     		background: #e30613;
	//     	}
	//     	&:before{
	//     		display: none;
	//     	}
	//     	button{
	//     		display: none;
	//     	}
	//     }
	// }
}

.main-slider__left{
	position: absolute;
	width: 50px;
	height: 50px;
	background: #fff;
	border-radius: 50%;
	text-indent: -9999em;
	display: inline-block;
	padding: 0;
	border: 0;
	right: 54px;
	border: 1px solid #ACACAC;
	&:before{
		content: '';
		display: inline-block;
		width: 14px;
		height: 24px;
		background: url(../img/svg/left.svg) center no-repeat;
		position: absolute;
		left: 50%;
		margin-left: -9px;
		top: 50%;
		margin-top: -12px;
	}
}


.main-slider__right{
	position: absolute;
	width: 50px;
	height: 50px;
	background: #fff;
	border-radius: 50%;
	text-indent: -9999em;
	display: inline-block;
	padding: 0;
	border: 0;
	right: -5px;
	border: 1px solid #ACACAC;
	&:before{
		content: '';
		display: inline-block;
		width: 14px;
		height: 24px;
		background: url(../img/svg/right.svg) center no-repeat;
		position: absolute;
		left: 50%;
		margin-left: -6px;
		top: 50%;
		margin-top: -12px;
	}
}

.main-slider__item{
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    min-height: 590px;
    height: auto !important;
    padding-bottom: 20px;
    padding-top: 94px;
}


.main-slider__info{
	max-width: 550px;
	padding-top: 80px;
	position: relative;
	h1{
		margin-bottom: 15px;
		color: $alt-color;
		line-height: 1;
	}
}

.main-slider__add{
	color: $alt-color;
	font-size: 24px;
	margin-bottom: 32px;
}

.main-slider-wrap{
	position: relative;
}
.main-slider-arrows{
	position: absolute;
	bottom: 100px;
	left: 50%;
	width: 100%;
	max-width: 1200px;
	transform: translateX(-50%);
}



.main-slider__txt{
	margin-bottom: 94px;
}

.main-slider__img{
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;
	position: absolute;
    right: 68px;
    top: 49px;
	width: 543px;
	height: 378px;
	pointer-events: none;
}




.t-center{
	text-align: center;
}




.benefits{
	background: #F7F7F7;
	padding: 40px 0 17px;
	position: relative;
	.item{
		width: 25%;
	}
	h2{
		margin-bottom: 57px;
	}
}

.list{
	display: flex;
	flex-wrap:wrap;
}
.item{
	text-align: center;
	margin-bottom: 45px;
	padding: 0 20px;
}

.item__icon{
	width: 104px;
	height: 104px;
	border-radius: 50%;
	background: #fff;
	border: 1px solid #959595;
	display: inline-block;
	margin-bottom: 16px;
	display: inline-flex;
	align-items:center;
	justify-content:center;
	img{
		display: block;
		max-width: 100%;
	}
}

.item__icon--filter{
	img{
		filter:grayscale(100%);
	}
}

.services{
	padding: 40px 0;
	box-shadow: 0px 5px 100px rgba(0, 0, 0, 0.1);
	h2{
		margin-bottom: 56px;
	}
	.item{
		width: 33.333%;
		margin-bottom: 70px;
	}
}

.clients{
	padding: 40px 0;
	h2{
		margin-bottom: 33px;
	}
}

.clients__slider{
	display: none;
	padding: 0 100px;
	&.slick-initialized{
		display: block;
	}
	.slick-arrow{
		position: absolute;
		width: 50px;
		height: 50px;
		background: transparent;
		border-radius: 50%;
		text-indent: -9999em;
		display: inline-block;
		padding: 0;
		border: 1px solid #ACACAC;
		top: 50%;
		transform:translateY(-50%);
		z-index: 2;
	}
	.slick-next{
		right: 0;
		&:before {
			content: '';
			display: inline-block;
			width: 14px;
			height: 24px;
			background: url(../img/svg/right.svg) center no-repeat;
			position: absolute;
			left: 50%;
			margin-left: -6px;
			top: 50%;
			margin-top: -12px;
		}
	}
	.slick-prev{
		left: 0;
		&:before {
			content: '';
			display: inline-block;
			width: 14px;
			height: 24px;
			background: url(../img/svg/left.svg) center no-repeat;
			position: absolute;
			left: 50%;
			margin-left: -9px;
			top: 50%;
			margin-top: -12px;
		}
	}
}

.clients__item{
	display: flex;
	padding: 0 10px;
	align-items:center;
	justify-content: center;
	img{
		display: block;
		max-width: 100%;
	}
}
.clients__icon{
	display: flex;
	align-items:center;
	justify-content: center;
}











@import "components/footer";

@import "components/media";





