
.page-header{
	padding: 23px 0;
    position: fixed;
    width: 100%;
	z-index: 5;
	transition: all 0.2s linear;
	&.fixed{
		background: #fff;
		padding: 10px 0;
	}
}
.page-header__wrap{
	display: flex;
	align-items:center;
	justify-content:space-between;
}

.page-header__logo{
	width: 256px;
	height: 60px;
	background: url(../img/svg/logo.svg) no-repeat;
	display: inline-block;
}

.page-header__links{
	display: flex;
	align-items: center;
}

