

/*FONT-FAMILY*/
$default-font: 'corpide1sscd_light', sans-serif;

/*FONT-SIZE*/
$default-size-font: 18px;

/*BACKGROUND*/
$default-site-bg: #fff;

//$default-bg: #eeeeee;

/*TEXT-COLOR*/
$base-color: #000;

$alternate-color: #E01021;
